body {
  font-family: "Red Hat Display";

  header {
    padding-top: 80px;
    margin-bottom: 60px;

    .logo {
      width: 120px;
      margin: 0 auto;
    }
  }

  // section 1

  .s-1 {
    .s-1-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 100%;

      .tablet-img {
        display: none;

        @media (max-width: 768px) {
          width: 100%;
          display: block;
          margin-bottom: 72px;
        }
      }

      .img-left,
      .img-right {
        max-width: 394px;
        width: 100%;

        & > img {
          width: 100%;
        }
        @media (max-width: 768px) {
          display: none;
        }
      }
      .txt-group1 {
        max-width: 540px;
        width: 100%;
        text-align: center;
        h1 {
          @include h1;

          @media (max-width: 376px) {
            font-size: 40px;
            line-height: 44px;
          }
        }
        p {
          @include txt;
          margin: 34px 0 34px 0;
          
        }
        .buttons {
          max-width: 348px;
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-wrap: wrap;
          margin: 0 auto;
          .left-btn {
            @include button;
            background-color: $default;
            & > span {
              color: $txt-2;
            }
            &:hover {
              background-color: $btn1-hover;
            }

            @media (max-width: 376px) {
              margin-bottom: 16px;
            }
          }
          .right-btn {
            @include button;
            background-color: $btn2-default;

            &:hover {
              background-color: $btn2-hover;
            }
          }
          @media (max-width: 376px) {
            flex-direction: column;
          }
        }
      }
      @media (max-width: 768px) {
        flex-direction: column;
      }
      @media (max-width: 376px){
        width: 95%;
        margin: 0 auto;;
      }
    }
    .number {
      margin-top: 110px;

      .line {
        width: 1px;
        height: 84px;
        background-color: $txt;
        margin: 0 auto;
        opacity: 0.5;
      }
      .circle {
        width: 56px;
        height: 56px;
        border: 1px solid rgba(135, 135, 157, 0.5);
        margin: 0 auto;
        border-radius: 50%;
        text-align: center;
        padding: 15px;

        & > span {
          @include overline;
          color: #87879d;
          letter-spacing: normal;
        }
      }
    }
  }

  //   section 2

  .s-2 {
    margin-top: 64px;
    .s-2-container {
      .img-container {
        max-width: 1110px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;

        .img {
          width: 255px;

          & > img {
            width: 100%;
            border-radius: 8px;

            @media (max-width: 768px) {
              width: 95%;
            }
          }
          @media (max-width: 376px) {
            width: 151px;
            &:nth-child(1) {
                margin-bottom: 16px;
            }
          }
        }
        @media (max-width: 768px) {
          width: 90%;
          margin-bottom: 48px;
        }
        @media (max-width: 376px) {
          width: 85%;
          flex-wrap: wrap;
        }
      }

      .txt-group2 {
        max-width: 540px;
        width: 100%;
        margin: 80px auto 72px auto;
        text-align: center;

        .overline {
          @include overline;
        }
        & > h2 {
          @include h2;
          max-width: 445px;
          width: 100%;
          margin: 16px auto 32px auto;

          @media (max-width: 376px) {
            width: 95%;
            font-size: 32px;
            line-height: 36px;
          }
        }
        & > p {
          @include txt;
          @media (max-width: 376px){
            font-size: 16px;
          }
        }
        @media (max-width: 376px){
            margin: 64px auto;
            width: 327px;
            
        }
      }
      .number {
        .line {
          width: 1px;
          height: 84px;
          background-color: $txt;
          margin: 0 auto;
          opacity: 0.5;
        }
        .circle {
          width: 56px;
          height: 56px;
          border: 1px solid rgba(135, 135, 157, 0.5);
          background-color: #ffffff;
          margin: 0 auto;
          border-radius: 50%;
          text-align: center;
          padding: 15px;

          & > span {
            @include overline;
            color: #87879d;
            letter-spacing: normal;
          }
        }
      }
    }
  }

  //   footer

  footer {
    // background-image: url(../assets/desktop/image-footer.jpg);
    // background-color: $default;
    // background-repeat: no-repeat;
    // background-size: cover;
    // height: 308px;
    background-color: $default;
    position: relative;
    margin-top: -30px;
    z-index: -1;

    .footer-img-tablet {
      display: none;
      @media (max-width: 768px) {
        width: 100%;
        display: block;
        opacity: 0.1;
      }
      @media (max-width: 376px){
        display: none;
      }
    }
    .footer-img-mobile {
        display: none;

        @media (max-width: 376px){
            width: 100%;
            display: block;
            opacity: 0.1;
        }
    }
    .footer-img {
      max-width: 100%;
      opacity: 0.1;

      @media (max-width: 768px) {
        display: none;
      }
      
    }

    .txt-footer {
      position: absolute;
      top: 116px;
      left: 165px;
      max-width: 1110px;
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      & > h2 {
        @include h2;
        color: $bg-txt;
        max-width: 350px;
        width: 100%;

        @media (max-width: 376px){
            font-size: 32px;
            line-height: 36px;
        }
      }
      & > p {
        @include txt;
        color: $bg-txt;
        max-width: 350px;
        width: 100%;
        margin-left: 125px;
        margin-right: 92px;

        @media (max-width: 768px) {
          margin-top: 32px;
          margin-bottom: 40px;
        }
        @media (max-width: 376px){
            width: 80%;
            margin: 24px auto 32px auto;
          }
      }
      & > button {
        @include button;
        background-color: $btn2-default;
        & > span {
          color: $btn2-hover-2;
        }
        &:hover {
          background-color: $btn2-hover;
        }
      }
      @media (max-width: 768px) {
        flex-direction: column;
        text-align: center;
        position: absolute;
        top: 92px;
        left: 0;
      }
    }
  }
}
