// colors

$h-color: #28283D;
$txt: #87879D;
$bg-txt: hsla(0, 0%, 98%, 1);
$default: #4D96A9;
$txt-2: #8FE3F9;
$btn2-default: #855FB1;
$btn2-hover-2: #B18BDD;
$btn2-hover: #D9B8FF;
$btn1-hover: #71C0D4;
